// Color variables 
$magnolia          : #eae4e9ff;
$linen             : #fff1e6ff;
$pale-pink         : #fde2e4ff;
$mimi-pink         : #fad2e1ff;
$mint-cream        : #e2ece9ff;
$powder-blue       : #bee1e6ff;
$isabelline        : #f0efebff;
$lavender-web      : #dfe7fdff;
$periwinkle-crayola: #cddafdff;

// Other variables
$basicShadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;

body {
    background-color: $magnolia;
}

a {
    text-decoration: none;
    color          : inherit;
}

// Search box

.search-box {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-bottom  : 2rem;

    &__col {
        padding: 0;
    }

    .search-form {
        position: relative;
        margin  : 5rem 0 2.5rem;

        .bi-search {
            position: absolute;
            top     : 16px;
            left    : 16px;

            &::before {
                font-weight: bold !important;
            }
        }

        &__input {
            height       : 55px;
            text-indent  : 33px;
            border-radius: 10px;
            box-shadow   : 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
            border       : 0;
        }

        &__input:focus {
            box-shadow: none;
            border    : none;
        }

        &__right {
            position   : absolute;
            right      : 17px;
            top        : 13px;
            border-left: 1px solid #d1d5db;
            padding    : 0 7px 0 10px;
        }
    }

    .search-help {
        max-height   : 0;
        overflow     : hidden;
        transition   : max-height .5s ease-out;
        box-shadow   : $basicShadow;
        border-radius: 10px;

        &__card {
            padding   : 10px;
            margin-top: 10px;
            border    : 0;
        }

        &__list {
            padding    : 10px;
            display    : flex;
            align-items: center;

            small {
                color: #dedddd
            }
        }

        &__category {
            margin-bottom: 0;
        }
    }
}

.search-info {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-bottom  : 2.5rem;

    &__col {
        background   : white;
        box-shadow   : $basicShadow;
        padding      : 20px;
        border-radius: 10px;
    }

    .form-check {
        padding: 0;
    }

    .checkbox-btn {
        position: relative
    }

    .checkbox-btn input {
        position: absolute;
        z-index : -1;
        opacity : 0
    }

    .checkbox-btn input:checked~.btn {
        border-color    : #3167eb;
        background-color: #3167eb;
        color           : #fff
    }

    .btn-light {
        display         : inline-block;
        font-weight     : 600;
        color           : #343a40;
        text-align      : center;
        vertical-align  : middle;
        user-select     : none;
        background-color: #eee;
        font-size       : 10px;
        line-height     : 1.5;
        border-radius   : 0.37rem;
    }

    .btn-light:hover {
        background-color: #fff;
        border-color    : #989898
    }

    .btn-medium {
        font-size     : 12px;
        padding       : 10px 22px;
        display       : inline-block;
        margin-right  : 20px;
        letter-spacing: 2px;
        border        : 1px solid #157af6;
        width         : 100%
    }

    .highlight-button:hover {
        background-color: #157af6;
        border          : 2px solid #157af6;
        color           : #fff
    }
}

.search-result {
    display        : flex;
    justify-content: center;
    align-items    : center;

    &__col {
        background   : white;
        box-shadow   : 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        padding      : 20px;
        margin       : 15px 1px;
        border-radius: 10px;
    }

    &__action {
        margin-top: 2rem;
    }
}